
[mcu scanner]
canbus_uuid: db8d23b19d75 

[scanner]
mcu: scanner            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 22                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.01142   #0.015
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc      
mesh_runs: 2
#    Number of passes to make during mesh scan.

[temperature_sensor Cartographer_MCU]
sensor_type:   temperature_mcu
sensor_mcu:            scanner
min_temp:                    0
max_temp:                  105

[bed_mesh]
zero_reference_position: 150, 150 # pouzijte stred vasi velikosti podlozky
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 40, 18 # pouzijte vasi velikosti podlozky
#    start point of bed mesh [X, Y]
mesh_max: 270, 240 # pouzijte vasi velikosti podlozky
#    end point of bed mesh [X, Y]
probe_count: 11, 11 # klidne nastavte 30, 30
algorithm: bicubic

[safe_z_home]
home_xy_position: 150,150 # pouzijte vasi velikosti podlozky
# Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed.
z_hop: 10
speed: 500
z_hop_speed: 10
