######################
### Chamber Heater ###
######################

[heater_generic chamber_heater]
heater_pin: PB0
#sensor_type: Generic 3950
#sensor_pin: PC2
control: watermark
max_power: .5
min_temp: 0
max_temp: 110

[verify_heater chamber_heater]
max_error: 120
check_gain_time: 120
hysteresis: 5
heating_gain: 2

##########################
### Chamber Heater Fan ###
##########################

[heater_fan chamber_heater_fan]
pin: PD12
max_power: 1.0
heater: chamber_heater
heater_temp: 40.0 # fan will turn off below this level

#############################
### Enclosure Temperature ###
#############################

[thermistor chamber_thermistor]
temperature1: 25
resistance1: 10000
beta: 3950

[temperature_sensor enclosure_temp]
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: 0
max_temp: 80



[gcode_macro CHAMBER_TEMP_WAIT]
gcode:
  {% if params.MIN_TEMPERATURE and params.MAX_TEMPERATURE and params.MIN_TEMPERATURE|float > params.MAX_TEMPERATURE|float %}
    {action_raise_error("Chamber Temp Wait: MIN_TEMPERATURE must be less than or equal to MAX_TEMPERATURE
                         Use: 
                         - CHAMBER_TEMP_WAIT MIN_TEMPERATURE=[0..80]
                         - CHAMBER_TEMP_WAIT MAX_TEMPERATURE=[0..80]
                         - CHAMBER_TEMP_WAIT MIN_TEMPERATURE=[0..80] MAX_TEMPERATURE=[0..80]")}
  {% elif params.MIN_TEMPERATURE and params.MIN_TEMPERATURE|float > -1 and params.MIN_TEMPERATURE|float < 81 %}
    {% if params.MAX_TEMPERATURE and params.MAX_TEMPERATURE|float > -1 and params.MAX_TEMPERATURE|float < 81 %}
      TEMPERATURE_WAIT SENSOR="temperature_sensor enclosure_temp" MINIMUM={params.MIN_TEMPERATURE|float} MAXIMUM={params.MAX_TEMPERATURE|float}
    {% else %}
      TEMPERATURE_WAIT SENSOR="temperature_sensor enclosure_temp" MINIMUM={params.MIN_TEMPERATURE|float}
    {% endif %}
  {% elif params.MAX_TEMPERATURE and params.MAX_TEMPERATURE|float > -1 and params.MAX_TEMPERATURE|float < 81 %}
      TEMPERATURE_WAIT SENSOR="temperature_sensor enclosure_temp" MAXIMUM={params.MAX_TEMPERATURE|float}
  {% else %}
    {action_raise_error("Chamber Temp Wait: invalid usage
                         Use: 
                         - CHAMBER_TEMP_WAIT MIN_TEMPERATURE=[0..80]
                         - CHAMBER_TEMP_WAIT MAX_TEMPERATURE=[0..80]
                         - CHAMBER_TEMP_WAIT MIN_TEMPERATURE=[0..80] MAX_TEMPERATURE=[0..80]")}
  {% endif %}